body, html {
  height: 100%;
  width: 100%;
}

.align-center {
  text-align:center;
}

.hidden {
  display: none;
  background-color: white;
}

.padding-right {
  padding-right: 10px;
}

.width {
  width: 70%;
}

.center {
  margin: 0 auto;
}

#total {
  width: 30%;
  margin-left: 55%;
  text-align: right;
}

#display-container {
  text-align: left;
}

#magnifier-icon {
  position: relative;
  top: 10px;
}

#icon {
  margin-left: 7%;
}

#icon > h1 {
  display: inline;
  padding-left: 30%
}

#icon > i {
  padding: 5px;
}

#item-h1 {
  display: inline;
}

#title-container {
  background: url("images/background.png") no-repeat;
  background-position: top;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
