h1 {
  text-align: center;
}

.items-container {
  position: relative;
  top: 60%;
}

.item-picture {
  padding-bottom: 15px;
}

.align-center {
  text-align:center;
}

.padding-left {
  padding-left: 25px;
}

.hidden {
  display: none;
  background-color: white;
}

.width {
  width: 60%;
}

.center {
  margin: 0 auto;
}

.margin-top {
  margin-top: 20px;
}

#payment-container {
  position: relative;
  top:100%;
  height: 600px;
  text-align: left;
}

#total {
  width: 30%;
  margin-left: 50%;
  text-align: right;
}

#display-container {
  text-align: left;
}

#display-container img{
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

#cart img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

#magnifier-icon {
  position: relative;
  top: 15px;
}

#title-container {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 800px;
  text-align: center;
}
